{% block title %}Statistiques images{% endblock %}

{% block body %}
<h2>Top 20 des images les plus téléchargées</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Nombre de téléchargements</th>
        </tr>
    </thead>
    <tbody>
    {% for image in images %}
        <tr>
            <td>{{ image.name }}</td>
            <td>{{ image.hit_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
